
/*--- header ---*/

.menu {
    display: flex;
    justify-content: space-around;
    padding-right: 10%;
}

li {
    display: inline;
    margin: 1vh;

}

/*header*/


/*--- main --- */
main {
    background-color: rgb(248, 248, 159);
    margin: 5vh;
    padding: 5vh;
}

h1, h2 {
    font-family: 'roboto', sans-serif;
    text-align: center;
}

h3 {
    font-family: 'roboto', sans-serif;
}

p {
    font-family: 'roboto mono', sans-serif;
}


.testing__tools {
    display: grid;
    justify-content: center;
}


.clickme__button {
    border: 0px solid black;
    border-radius: 10px;
    color: white;
    background-color: rgb(59, 59, 59);
    transition-duration: 0.4s;
    padding: 10px;
    margin: 1vh;
}

.clickme__button:hover {
    background-color: rgb(112, 112, 112);

}

.div__img__scope {
    display: flex;
    justify-content: center;
    margin: 1%;
}

.codebox {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1vh;
    color: rgb(243, 247, 250);
    background-color: rgb(63, 62, 62);
    font-family: "Inconsolata", monospace;
    font-size: 14px;
    min-height: 7vw;
    white-space: nowrap;
    overflow-x: scroll;
    
}
.codebox::-webkit-scrollbar {
    display: none;
}

.darkblueColor {
    color: rgb(86, 156, 214);
}

.lightblueColor {
    color: lightblue;
}

.orangeColor {
    color: orange;
}

.yellowColor {
    color: yellow;
}

.commentedCode {
    color: darkgray;
}

.lightyellowColor {
    color: rgb(235, 235, 154);
}

.lightgreenColor {
    color: rgb(196, 243, 196);
}

/*--- My learning tools ---*/


.explanation {
    text-align: center;
    /* border: 1px solid black; */
    min-height: 100px;
}

.demonstration {
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    min-height: 100px;
}

.img__variables__link {
    display: none;
}

textarea {
    background-color: rgb(37, 37, 37);
    color: rgb(207, 205, 205);
    resize: none;
    width: 90%;
    height: auto;
}


.testing__code__container {
    display: flex;
}

.code__container {

    border-radius: 10px;
    color: rgb(207, 205, 205);;
    background-color: rgb(37, 37, 37);
    width: 50vh;
    height: 10vh;
    padding-left: 2vh;
    padding-right: 2vh;
    overflow: auto;
}

.codetext {
    font-family: monospace;
}

.tab {
    display: inline-block;
    margin-left: 4em;
    font-family: monospace;
}


.homework__list {
    display: block;
}

.homework__buttons {
    display: flex;
    justify-content: center;
}





/*--- media queries --- */

/* breakpoints: 320px-480px 481px-768px 769px-1279px 1280px +  */

@media (min-width: 320px) and (max-width: 480px ) {


    /* main */

    .img__variables__link {
        text-align: center;
        text-decoration: none;
        color: blue;
        font-family:'roboto mono', sans-serif;
        display: block;
    }

    .img__variables{
        display: none;
    }
}



@media (min-width: 481px) {

    /* header */

    li {
        margin: 4vh;
    }

    /* main */

    a[href="https://ibb.co/fQX4kxP"] {

        content: "https://freeimage.host/i/JIe4AwF";
    }


    
    .img__variables__link {
        text-align: center;
        text-decoration: none;
        color: blue;
        font-family:'roboto mono', sans-serif;
        display: block;
    }

    .img__variables{
        display: none;
    }

}


@media (min-width: 769px) {
    
    li {
        margin: 4vh;
    }


    
    .img__variables__link {
        text-align: center;
        text-decoration: none;
        color: blue;
        font-family:'roboto mono', sans-serif;
        display: none;
    }

    .img__variables {
        display: block;
        width: 90%;
        max-width: 1000px;
        max-height: 250px;
    }
}